/* Next, add the following CSS code to our style.css file to set 
the style for our map on our index.html page and save the file: */


html,
body,
#mapid {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}